#channels-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#server-title {
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 500;
    border-bottom: 1px solid rgb(32, 31, 31);
}

#list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#channels-list {
    position: relative;
    display: flex;
    color: #72767D;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    word-wrap: break-word;
    align-items: center;
    border-radius: 5px;
}

#sign {
    position: relative;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding-right: 10px;
}

#channels-list:hover {
    background-color: #363636;
    color: white;
}

#channels-list:hover #sign {
    color: #72767D;
}

#channel-create-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #36393f;
}

#create-channel {
    position: relative;
    font-size: 23px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}

#create-info2 {
    position: relative;
    color: #494a4d;
    font-weight: 300;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 120%;
    color: white;
}

#channel-form {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-top: auto;
    padding-top: 60px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(94, 93, 93);
    font-weight: 500;
}

#channel-name {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    color: #B9BBBE;
}

#channel-name2 {
    position: relative;
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 36px;
    font-weight: 200;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    padding-left: 25px;
    background-color: #303236;
    outline: none;
    color: white;
}

#channel-creation {
    position: absolute;
    font-size: 20px;
    color: #B9BBBE;
    left: 34px;
    top: 92px;
    z-index: 3;
}

#back-create-channel {
    position: relative;
    display: flex;
    height: 70px;
    flex-direction: row;
    margin-top: auto;
    justify-content: flex-end;
    align-items: center;
    background-color: #303236;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#back-channel {
    color: white;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 20px;
}

#create-chan {
    position: relative;
    border: 1px solid #677bc4;
    border-radius: 2px;
    font-size: 15px;
    background: #677bc4;
    cursor: pointer;
    color: #FFFFFF;
    width: 30%;
    height: 45px;
    border-radius: 3px;
    justify-content: center;
    margin-right: 0px;
    outline: none;
}

#invite-code {
    position: relative;
    display: flex;
    height: 30px;
    width: 40px;
    align-items: center;
    justify-content: center;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    margin: auto;
    padding-bottom: 10px;
    cursor: pointer;
}

#invite-code-tip {
    visibility: hidden;
    position: absolute;
    display: flex;
    padding-top: 8px;
    top: -2px;
    left: 60px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: black;
    border-radius: 4px;
    width: 70px;
    height: 38px;
    text-align: center;
}

#invite-code:hover #invite-code-tip {
    visibility: visible;
    z-index: 1;
}

#invite-code #invite-code-tip::after {
    display: block;
    content: "";
    position: absolute;
    top: 40%;
    margin-top: 0px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid black;
}