
#log-btns {
    position: relative;
}

#nav {
    position: relative;
    text-align: center;
    z-index: 1;
}

#nav #nav-btn {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 450;
    position: relative;
    top: 30px;
    padding: 20px;
    color: white;
}

#nav2-bar {
    position: relative;
    background-color: #23272a;
    left: -40px;
    width: 100vw;
    height: 200px;
}

#nav2 {
    position: relative;
    text-align: center;
    z-index: 1;
}

#nav2 #nav-btn2 {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 450;
    top: 70px;
    position: relative;
    padding: 30px;
    color: white;
}

#login-btn0 {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 15px;
    right: 40px;
    white-space: nowrap;
    font-size: 13px;
    border-radius: 40px;
    padding: 7px 16px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    background-color: white;
    text-align: end;
    box-sizing: border-box;
    z-index: 1;
}

#login-btn1 {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0px;
    right: 85px;
    white-space: nowrap;
    font-size: 13px;
    border-radius: 40px;
    padding: 7px 16px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    background-color: white;
    text-align: end;
    box-sizing: border-box;
    z-index: 1;
}

#logout-btn {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 15px;
    right: 40px;
    white-space: nowrap;
    border-radius: 40px;
    padding: 7px 16px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    background-color: white;
    text-align: end;
    box-sizing: border-box;
    z-index: 1;
}

#discord-btn {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 80px;
    right: 40px;
    white-space: nowrap;
    border-radius: 40px;
    padding: 7px 16px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    background-color: white;
    text-align: end;
    box-sizing: border-box;
    z-index: 1;
}


#home-background {
    position: relative;
    background-color: #3359e2;
    width: 100vw;
    height: 626px;
    overflow: hidden;                 
}

#homepage-welcome1 {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 250px;
    width: 100%;
    z-index: 1;
}

#homepage-welcome2 {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 300px;
    width: 100%;
    z-index: 1;
}

#logo {
    position: absolute;
    background-color: #3359e2;
    top: 5px;
    left: 0px;
    width: 12%;
    z-index: 1;
}

#logo2 {
    position: absolute;
    background-color: #23272a;
    top: 70px;
    left: 0px;
    width: 12%;
    z-index: 1;
}

#chilling1 {
    position: relative;
    width: 100vw;
    height: 680px;
}

#chilling1-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    height: 440px;
    padding: 120px 40px;
    justify-content: center;
}

#background-chilling1 {
    position: relative;
    float: left;
}

#chilling1-welcome-container {
    position: relative;
    top: 50px;
    width: 380px;
    height: 440px;
    display: grid;
}

#chilling1-welcome {
    position: relative;
    top: 20px;
    text-align: left;
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#chilling1-welcome2 {
    position: relative;
    top: -50px;
    text-align: left;
    color: black;
    font-size: 20px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#chilling2 {
    position: relative;
    width: 100vw;
    height: 680px;
}

#chilling2-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    height: 440px;
    padding: 120px 40px;
    justify-content: center;
}

#background-chilling2 {
    position: relative;
    float: right;
}

#chilling2-welcome-container {
    position: relative;
    top: 80px;
    width: 380px;
    height: 440px;
    display: grid;
}

#chilling2-welcome {
    position: relative;
    top: 20px;
    text-align: left;
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#chilling2-welcome2 {
    position: relative;
    top: -50px;
    text-align: left;
    color: black;
    font-size: 20px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#chilling3 {
    position: relative;
    width: 100vw;
    height: 680px;
}

#chilling3-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    height: 440px;
    padding: 120px 40px;
    justify-content: center;
}

#background-chilling3 {
    position: relative;
    float: left;
}

#chilling3-welcome-container {
    position: relative;
    top: 50px;
    width: 380px;
    height: 440px;
    display: grid;
}

#chilling3-welcome {
    position: relative;
    top: 20px;
    text-align: left;
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#chilling3-welcome2 {
    position: relative;
    top: -50px;
    text-align: left;
    color: black;
    font-size: 20px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#chilling4 {
    position: relative;
    width: 100vw;
    height: 680px;

}

#chilling4-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    height: 440px;
    padding: 0px 40px;
    justify-content: center;
}

#background-chilling4 {
    position: relative;
    float: bottom;
    bottom: 100px;
    width: 60%;
}

#chilling4-welcome-container {
    position: relative;
    bottom: 20px;
    width: 50vw;
    height: 440px;
    display: grid;
}

#chilling4-welcome {
    position: relative;
    text-align: center;
    top: 80px;
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#chilling4-welcome2 {
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#diamond {
    position: absolute;
    top: 114px;
    right: 764px;
}

#background-left {
    position: absolute;
    right: 68.6%;
    bottom: 0px;
    z-index: 1;
}

#background-right {
    position: absolute;
    left: 68.8%;
    bottom: 0px;
    z-index: 1;
}

#background-1 {
    position: absolute;
    width: 59%;
    top: 0px;
}

#background-2 {
    position: absolute;
    top: 200px;
    left: 100px;
    animation-name: floating;
    animation-duration: 310s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-3 {
    position: absolute;
    top: 300px;
    right: 200px;
    animation-name: floating;
    animation-duration: 240s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-4 {
    position: absolute;
    bottom: 0px;
    left: 500px;
    animation-name: floating;
    animation-duration: 210s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-5 {
    position: absolute;
    bottom: 0px;
    left: 400px;
    animation-name: floating;
    animation-duration: 320s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-6 {
    position: absolute;
    bottom: -10px;
    left: 300px;
    animation-name: floating;
    animation-duration: 210s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-7 {
    position: absolute;
    bottom: -10px;
    animation-name: floating;
    animation-duration: 260s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-8 {
    position: absolute;
    bottom: -10px;
    left: 600px;
    animation-name: floating;
    animation-duration: 260s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-9 {
    position: absolute;
    bottom: -10px;
    left: 700px;
    animation-name: floating;
    animation-duration: 240s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-10 {
    position: absolute;
    bottom: -10px;
    left: 800px;
    animation-name: floating;
    animation-duration: 320s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}


#background-12 {
    position: absolute;
    right: -75px;
    top: 0px;
}

#background-building {
    position: absolute;
    left: 23.3%;
    bottom: 0px;
}

#background-ship {
    position: absolute;
    top: 120px;
    left: 500px;
    animation-name: floating;
    animation-duration: 200s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-ship2 {
    position: absolute;
    top: 85px;
    left: -350px;
    animation-name: floating;
    animation-duration: 200s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#background-ship3 {
    position: absolute;
    top: 80px;
    right: 500px;
    animation-name: floating;
    animation-duration: 200s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

#floating-pig {
    position: absolute;
    bottom: -100px;
    left: 750px;
    animation-name: pig;
    animation-duration: 150s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes floating {
    from { transform: translate(0px, 0px); }
    to { transform: translate(100vw, 0px); }
}

@keyframes pig {
    from { transform: translate(0px, 0px); }
    to { transform: translate(0px, -100vh); }
}

#end-background {
    position: relative;
    width: 100vw;
    height: 280px;
    background-image: url('end-login.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#background-end {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    position: relative;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 150px;
    width: 100vw;
    height: 200px;
}

#end-login {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
    bottom: 40px;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    background-color: #3359e2;
    z-index: 1;
    white-space: nowrap;
    border-radius: 40px;
    padding: 14px 20px;
    line-height: 24px;
    cursor: pointer;
    z-index: 1;
}

#end-login-text {
    color: #FFFFFF;
}

#form-parent {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#form-parent-container {
    position: relative;
    display: block;
    width: 700px;
    height: 408px;
    top: 20%;
    left: 20%;
}

#form-container {
    position: relative;
    display: block;
    /* justify-content: center; */
    padding: 32px;
    background-color: #36393f;
    border-radius: 5px;
}


#login-background {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
}

#welcome {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 40px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#welcome-msg {
    position: relative;
    color: #b9bbbe;
    font-weight: 400;
    top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}


#label {
    position: relative;
    display: block;
    font-size: 12px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #8E9297;
    font-weight: 500;
}

#label-session-error {
    position: relative;
    display: block;
    font-size: 12px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #f04747;
    font-weight: 500;
}



#label-error {
    position: relative;
    top: 7px;
    font-style: italic;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #f04747;
    font-size: 11px;
    /* animation-name: errors;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-timing-function: linear; */
}

/* @keyframes errors {
    from { color: #f04747 }
    to { color: #36393f }
} */



#form-session {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#form-session label {
    position: relative;
    display: grid;
    padding: 20px 0px;
}

#login-btn2 {
    position: relative;
    top: 10px;
    border: 1px solid #677bc4;
    border-radius: 2px;
    background: #677bc4;
    cursor: pointer;
    color: #FFFFFF;
    height: 45px;
    border-radius: 3px;
}

#login-btn-demo {
    position: relative;
    top: 30px;
    border: 1px solid #677bc4;
    border-radius: 2px;
    background: #677bc4;
    cursor: pointer;
    color: #FFFFFF;
    height: 45px;
    border-radius: 3px;
}

#login-btns {
    position: relative;
    display: grid;
    top: 15px;
}


/* #form-session label input {
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    height: 40px;
    outline: none;
} */

#email-input {
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    height: 40px;
    outline: none;
}


#email-input-error {
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #f04747;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    height: 40px;
    outline: none;
}

#username-input {
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    height: 40px;
    outline: none;
}

#username-input-error {
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #f04747;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    height: 40px;
    outline: none;
}

#password-input {
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    height: 40px;
    outline: none;
}

#password-input-error {
    position: relative;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #f04747;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    height: 40px;
    outline: none;
}

#date-input {
    position: relative;
    width: 100%;
    text-align: center;
}

option[value=""][disabled] {
  display: none;
}

#month-input {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #8E9297;
    font-weight: 250;
    font-size: 18px;
    position: relative;
    padding-left: 15px;
    left: -48px;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    width: 210px;
    height: 50px;
    outline: none;
}


#day-input {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #8E9297;
    font-weight: 250;
    font-size: 18px;
    position: relative;
    padding-left: 15px;
    left: 4px;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    width: 150px;
    height: 50px;
    outline: none;
}


#year-input {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #8E9297;
    font-weight: 250;
    font-size: 18px;
    position: relative;
    padding-left: 15px;
    right: -48px;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    size: 40px;
    resize: vertical;
    width: 180px;
    height: 50px;
    outline: none;
}

#form-session label input:focus {
    border: 1px solid #677bc4;
    border-radius: 4px;
}


#register1 {
    position: relative;
    display: flex;
    left: -20px;
    top: 40px;
    padding: 0px 20px;
    font-size: 12px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #72767D
}

#register2 {
    position: relative;
    display: flex;
    top: 30px;
    font-size: 12px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #72767D
}


#register-login1 {
    position: relative;
    left: 102px;
    bottom: 17px;
    padding-top: 5px;
    font-size: 12px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #7289DA;
}

#register-login2 {
    display: flex;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #7289DA;
}

#register label {
    display: flex;
    color: #72767D;
}

#form-logo {
    position: absolute;
    top:  15px;
    left: 10px;
    width: 8%;
    z-index: 1;
}

#server-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #36393f;
}

#server-bar {
    position: absolute;
    width: 72px;
    height: 100vh;
    background-color: #202225;
}

#logo-only {
    position: relative;
    width: 60%;
    top: 10px;
    left: 14px;
}

#message-bar {
    position: absolute;
    width: 240px;
    height: 100vh;
    left: 72px;
    background-color: #2f3136
}

#find-convo {
    position: relative;
    width: 85%;
    top: 8px;
    left: 10px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: none;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #202225;
    color: #4f545c;
    text-align: left;
    outline: none;
}