#log-btns {
    position: relative;
}

#login-btn {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 17px;
    right: 390px;
    white-space: nowrap;
    border-radius: 40px;
    padding: 7px 16px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    background-color: white;
    text-align: end;
    box-sizing: border-box;
    z-index: 1;

}

#logout-btn {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 20px;
    right: 35px;
    white-space: nowrap;
    border-radius: 40px;
    padding: 7px 16px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    background-color: white;
    text-align: end;
    box-sizing: border-box;
    z-index: 1;
}


#home-background {
    position: relative;
    background-color: #3359e2;
    width: 100%;
    height: 626px;
    overflow: hidden;                 
}

#form-parent {
    position: relative;
    width: 100%;
    height: 100%;
}

#form-container {
    position: absolute;
    background-color: #72767d;
}

#welcome {
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#welcome-msg {
    color: grey;
    text-align: center;;
    font-size: 15px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#label {
    font-size: 12px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#homepage-welcome1 {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 45px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 250px;
    width: 100%;
    z-index: 1;
}

#homepage-welcome2 {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 300px;
    width: 100%;
    z-index: 1;
}

#logo {
    position: absolute;
    background-color: #3359e2;
    top: 17px;
    left: 350px;
    width: 7%;
    z-index: 1;
}

#chilling1 {
    position: relative;
    width: 1905px;
    height: 680px;
    display: grid;
}

#chilling1-container {
    position: relative;
    left: 323px;
    width: 1180px;
    height: 440px;
    padding: 120px 40px;
    display: grid;
}

#background-chilling1 {
    position: relative;
    float: left;
}

#chilling1-welcome-container {
    position: relative;
    width: 380px;
    height: 440px;
    display: flex;
    justify-content: center;
}

#chilling1-welcome {
    position: relative;
    text-align: right;
    color: black;
    font-size: 30px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#chilling1-welcome2 {
    position: relative;
    text-align: right;
    color: black;
    font-size: 20px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}


#chilling2-container {
    position: relative;
    width: 100%;
    height: 680px;
}

#background-left {
    position: absolute;
    right: 69%;
    bottom: 0px;
    z-index: 1;
}

#background-right {
    position: absolute;
    left: 69%;
    bottom: 0px;
    z-index: 1;
}

#background-1 {
    position: absolute;
    width: 58%;
}

#background-2 {
    position: absolute;
    top: 200px;
    left: 300px;
    animation-name: floating;
    animation-duration: 310s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-3 {
    position: absolute;
    top: 300px;
    right: 400px;
    animation-name: floating;
    animation-duration: 240s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-4 {
    position: absolute;
    bottom: 0px;
    left: 500px;
    animation-name: floating;
    animation-duration: 210s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-5 {
    position: absolute;
    bottom: 0px;
    left: 600px;
    animation-name: floating;
    animation-duration: 270s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-6 {
    position: absolute;
    bottom: -10px;
    left: 500px;
    animation-name: floating;
    animation-duration: 250s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-7 {
    position: absolute;
    bottom: -10px;
    animation-name: floating;
    animation-duration: 260s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-8 {
    position: absolute;
    bottom: -10px;
    left: 600px;
    animation-name: floating;
    animation-duration: 310s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-9 {
    position: absolute;
    bottom: -10px;
    left: 700px;
    animation-name: floating;
    animation-duration: 240s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-10 {
    position: absolute;
    bottom: -10px;
    left: 800px;
    animation-name: floating;
    animation-duration: 320s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}


#background-12 {
    position: absolute;
    left: 900px;
}

#background-building {
    position: absolute;
    left: 23%;
    bottom: 0px;
}

#background-ship {
    position: absolute;
    top: 120px;
    left: 500px;
    animation-name: floating;
    animation-duration: 200s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-ship2 {
    position: absolute;
    top: 85px;
    left: -350px;
    animation-name: floating;
    animation-duration: 200s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#background-ship3 {
    position: absolute;
    top: 80px;
    right: 500px;
    animation-name: floating;
    animation-duration: 200s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

#floating-pig {
    position: absolute;
    bottom: -150px;
    left: 750px;
    animation-name: pig;
    animation-duration: 60s;
    animation-iteration-count: normal;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0px, 0px); }
    to { transform: translate(6500px, 0px); }
}

@keyframes pig {
    from { transform: translate(0px, 0px); }
    to { transform: translate(0px, -750px); }
}