#server-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #36393f;
    overflow: hidden;
}

#no-friends {
    position: absolute;
    left: 37.4%;
    bottom: 34.5%;
}

#test {
    position: relative;
    background-color: white;
}

#server-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    height: 100%;
    background-color: #202225;
}

#server-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

::-webkit-scrollbar {
  width: 1px;
}

#server-list {
    position: relative;
    display: flex;
    height: 40px;
    width: 50px;
    flex-direction: column;
    background-color: gray;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    word-wrap: break-word;
}

#server-lists {
    position: relative;
    display: flex;
    height: 30px;
    width: 50px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 11px;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    padding: auto;
}

#add-server {
    position: relative;
    display: flex;
    height: 30px;
    width: 40px;
    align-items: center;
    justify-content: center;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    background-color: gray;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}

#add-server-tip {
    visibility: hidden;
    position: absolute;
    display: flex;
    padding-top: 8px;
    top: -2px;
    left: 60px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: black;
    border-radius: 4px;
    width: 70px;
    height: 38px;
    text-align: center;
}

#add-server:hover #add-server-tip {
    visibility: visible;
    z-index: 1;
}

#add-server #add-server-tip::after {
    display: block;
    content: "";
    position: absolute;
    top: 40%;
    margin-top: 0px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid black;
}

#logo-only {
    position: relative;
    width: 100%;
}

#logo-tip {
    visibility: hidden;
    position: absolute;
    padding-top: 8px;
    top: -2px;
    left: 60px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: black;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    text-align: center;
}

#logo-cont:hover #logo-tip {
    visibility: visible;
    z-index: 1;
}

#logo-cont #logo-tip::after {
    display: block;
    content: "";
    position: absolute;
    top: 40%;
    margin-top: 0px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid black;
}

#logo-cont {
    position: relative;
    display: flex;
    width: 38px;
    height: 28px;
    top: 10px;
}

#channel-bar {
    position: absolute;
    width: 240px;
    height: 100%;
    left: 72px;
    background-color: #2f3136
}

#find-convo {
    position: relative;
    width: 85%;
    top: 9px;
    left: 10px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: none;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #202225;
    border: none;
    height: 19px;
    width: 88%;
    color: #4f545c;
    text-align: left;
    outline: none;
}


#user-bar {
    position: absolute;
    width: 100%;
    height: 53px;
    bottom: 0px;
    background-color: #292b2f;
}

#username {
    position: relative;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    top: 15px;
    left: 60px;
}

#logo-only2 {
    position: absolute;
    width: 15%;
    top: 12px;
    left: 12px;
}

#gear-icon {
    position: absolute;
    bottom: 18px;
    right: 20px;
    color: #b9bbbe;
    cursor: pointer;
}

#gear-tip {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    left: 45px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #f04747;
}

#gear-icon:hover #gear-tip {
    visibility: visible;
}

#friend-bar-cont {
    position: absolute;
    width: 100%;
    height: 48px;
}

#friend-bar {
    position: relative;
    width: 100%;
    left: 312px;
    height: 48px;
    background-color: #36393f;
    z-index: 2;
    border-bottom: 1px solid rgb(32, 31, 31);
}

#friend-icon {
    position: absolute;
    left: 15px;
    z-index: 1;
    color: #72767d;
}

#friend-icon-label {
    position: relative;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    bottom: 20px;
    left: 30px;
    font-size: 15px;
    font-weight: 600;
    border-right: 1px solid hsla(0,0%,100%,0.06);
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
}

#friend-list {
    position: relative;
    top: 15px;
    z-index: 1;
    width: 87%;
}

#comment-icon {
    position: relative;
    left: 76.5%;
    color: #b9bbbe;
    border-right: 1px solid hsla(0,0%,100%,0.06);
    padding-right: 21px;
    padding-top: 8px;
    top: -5px;

}

#inbox-icon {
    position: relative;
    left: 77.5%;
    color: #b9bbbe;
    top: -5px;
}

#help-icon {
    position: relative;
    left: 78.7%;
    color: #b9bbbe;
    top: -5px;
}

#friend-btns {
    position: relative;
    width: 87%;
}

#friend-list-btn {
    position: relative;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #B9BBBE;
    margin: 16px;
    left: 120px;
    top: 1px;
}

#friend-list-btn-special {
    position: relative;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #43B581;
    margin: 13px;
    padding: 3px 7px;
    border-radius: 4px;
    background-color: #43B58133;
    left: 120px;
    top: 1px;
}

#active-bar {
    position: relative;
    background-color: #2F3136;
    height: 100%;
    width: 420px;
    left: 78.1%;
    z-index: 1;
}

#add-friend {
    position: absolute;
    top: 49px;
    left: 312px;
    width: 1188px;
    height: 157px;
    border-bottom: 1px solid rgb(32, 31, 31);
}

#add-friend-label {
    position: relative;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 25px;
}

#add-friend-label2 {
    position: relative;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 25px;
}

#add-friend-input {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #292b2f;
    border-radius: 7px;
    size: 40px;
    resize: vertical;
    height: 55px;
    outline: none;
    color: #FFFFFF;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 200;
    margin-left: 25px;
    width: 50%;
    padding-left: 12px;
}

#server-add-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#create-server {
    position: relative;
    font-size: 23px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;
}

#create-info {
    position: relative;
    color: #494a4d;
    font-weight: 300;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 120%;
}

#create {
    position: relative;
    display: flex;
    width: 85%;
    height: 70px;
    /* flex-direction: row; */
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #B9BBBE;
}

#close {
    position: absolute;
    right: 20px;
    top: 12px;
    color: rgb(138, 136, 136);
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
}

#create-logo {
    position: relative;
    display: flex;
    width: 15%;
    height: 100%;
    background-image: url('create-server.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding-left: 15px;
}

#create-logo2 {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 25px;
    color: rgb(59, 59, 59);
}

#server-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(94, 93, 93);
    font-weight: 500;
}

#server-name {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#server-name2 {
    position: relative;
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 36px;
    font-weight: 200;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #B9BBBE;
    padding-left: 10px;
    background-color: #f1f1f1;
}

#back-create {
    position: relative;
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 65px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#back {
    color: black;
    font-size: 15px;
    font-weight: 400;
}

input#create {
    position: relative;
    border: 1px solid #677bc4;
    border-radius: 2px;
    font-size: 15px;
    background: #677bc4;
    cursor: pointer;
    color: #FFFFFF;
    width: 30%;
    height: 45px;
    border-radius: 3px;
    justify-content: center;
    margin-right: 0px;
}
